@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neu-bg: #e0e5ec;
  --neu-dark: #bec3cf;
  --neu-light: #ffffff;
  --neu-text-dark: #3d4468;
  --neu-text-light: #9499b7;
  --neu-text-muted: #6c7293;
  --neu-success: #00c896;
  --neu-error: #ff3b5c;
}

